<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Turkuazz Launcher Updater</title>
	<script src="../assets/tailwindcss.js"></script>
	<link rel="stylesheet" href="../src/css/style.css">
</head>

<body>
	<div id="updaterContainer" class="flex flex-col items-center justify-center min-h-screen bg-neutral-800 text-white p-4">
		<h1 class="text-3xl font-bold mb-6">Updater</h1>
		<p id="updateStatus" class="mb-4">Checking for updates...</p>
		<div id="progressBarContainer" class="w-full max-w-md bg-neutral-700 rounded-full h-6 overflow-hidden mb-4">
			<div id="progressBar" class="bg-blue-600 h-full w-0 transition-all duration-500"></div>
		</div>
		<p id="progressPercentage" class="mb-6">0%</p>
		<button id="restartButton" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50" disabled>Restart and Install</button>
	</div>
	<script type="module" src="../src/js/updater/updater.js"></script>
</body>
</html>